@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    font-family: "Oxygen", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

div, form {
    display: none;
    flex-direction: column;
    margin: 20px;
    background-color: aquamarine;
    border: solid 1px;
    border-radius: 30px;
}

.bordeTop {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.bordeBottom, #lista {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

input, select {
    text-align: left;
    background-color: aquamarine;
    border: none;
    padding: 20px;
    border-top: solid 1px;
}

input:hover {
    background-color: aqua;
    cursor: pointer;
}

h2 {
    background-color: aqua;
    margin: 0px;
    padding: 20px;
}

label {
    text-align: center;
}

.ver {
    display: flex;
}

#btnRegistrar, #btnBuscar, #btnContinuar, h2 {
    text-align: center;
}

.pago {
    display: none;
}

table {
    border-collapse: collapse;
}